Flask>=3.0
flask-socketio>=5.3
python-socketio>=5.11
eventlet>=0.36

# Esto solo necesario si se corre en modo ROS (PETRA_MODE=ros). No se instala con pip: viene con la distribución de ROS (rospy, sensor_msgs,geometry_msgs, std_msgs). 
